<?php
require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeToSilverstripe4\ModuleUpgrader;

$obj = ModuleUpgrader::create()
    ->setRunImmediately(true)
    ->setLogFolderDirLocation('/var/www/upgrades-logs')
    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setWebRootName('upgradeto4')
    ->setRunInteractively(true)
    ->setArrayOfModules(
        [
            1 => [
                //see run.me.index.full.php.EXAMPLE for more details1
                'VendorName' => 'awesomeproject', //e.g. as listed in composer.json file
                'VendorNamespace' => 'AwesomeProject',
                'PackageName' => 'app',
                'PackageNamespace' => 'App',
                'PackageFolderNameForInstall' => 'awesome',
                'GitLink' => 'git@bitbucket.org:mybitbucket/awesome.org.nz.git',
                'IsModuleUpgrade' => false,
            ]
        ]
    )
    ->setNameOfTempBranch('4.1-TEMP-upgrade')
    ->setFrameworkComposerRestraint('^4.4')
    ->run();
