<?php
require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeToSilverstripe4\ModuleUpgrader;


/**
 * below are examples
 * of most of the config options
 *
 * N.B. the individual tasks also have config options!
 */
$obj = ModuleUpgrader::create()
    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setWebRootName('testrun')
    ->setRunInteractively(true)
    // ->setRunIrreversibly(true)
    ->setArrayOfModules(
        [
            //see run.me.index.full.php.EXAMPLE for more details1
            1 => [
              'VendorName' => 'myclient',
              'VendorNamespace' => 'MyClient',
              'PackageName' => 'app',
              'PackageNamespace' => 'App',
              'PackageFolderNameForInstall' => 'myclient',
              'GitLink' => 'git@bitbucket.org:sunnysideupnz/myclient.org.nz.git',
              'IsModuleUpgrade' => true,
            ]
        ]
    )
    ->setNameOfTempBranch('test-only')
    ->setFrameworkComposerRestraint('3.7')
    ->setListOfTasks(
        [
            'ResetWebRootDir-1' => [],
            'AddUpgradeBranch' => [],
            'ResetWebRootDir-2' => [],
            'ApplyPSR2' => [],
        ]
    )
    ->run();
