<?php
require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeSilverstripe\ModuleUpgrader;


$obj = ModuleUpgrader::create()
    ->setRecipe('SS4') // see: ModuleUpgraderBaseWithVariables::availableRecipes

    ->setRunImmediately(true)
    ->setRunInteractively(true)
    ->setRunIrreversibly(false)

    ->setLogFolderDirLocation('/var/www/upgrades-logs')
    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setWebRootName('upgradeto4')
    ->setNameOfTempBranch('4.1-TEMP-upgrade')

    ->setArrayOfModules(
        [
            1 => [
              'VendorName' => 'myclient',  //e.g. as listed in composer.json file, not so relevant for projects
              'VendorNamespace' => 'MyClient', //namespace to be used for project
              'PackageName' => 'app', //e.g. as listed in composer.json file, not so relevant for projects
              'PackageNamespace' => 'App', //second part of the namespace i.e. VendorNamespace/PackageNamespace
              'PackageFolderNameForInstall' => 'myclient', //temp folder to be used for running upgrade.
              'GitLink' => 'git@bitbucket.org:sunnysideupnz/myclient.org.nz.git', //link to package
              'OriginComposerFileLocation' => 'https://bitbucket.org/sunnysideupnz/myclient.org.nz/src/master/composer.json',
              'IsModuleUpgrade' => false, //is it a module or a website project?
            ]
        ]
    )
    ->setFrameworkComposerRestraint('^4.4')
    ->setModuleDirLocations(
        [
            'mysite',
            'somethingElse'
        ]
    )
    //->setComposerEnvironmentVars('COMPOSER_HOME="/home/UserName"')
    // ->setLocationOfSSUpgradeModule(__DIR__ .'/vendor/silverstripe/upgrader/bin/upgrade-code')
    // ->setListOfTasks(
    //     [
    //         'WebRootDirReset-1' => [],
    //         'BranchesAddLegacyBranch' => [],
    //         'WebRootDirReset-2' => [],
    //         'BranchAddUpgradeStarterBranch' => [],
    //         'ComposerUpdateRequirements-1' => [
    //             'Package' => 'silverstripe/framework',
    //             'NewVersion' => '~4.0'
    //         ],
    //         'RecomposeHomeBrew' => [],
    //         'ComposerUpdateRequirements-2' => [
    //             'Package' => 'silverstripe/cms',
    //             'ReplacementPackage' => 'silverstripe/recipe-cms',
    //             'NewVersion' => '1.1.2'
    //         ],
    //
    //         'WebRootDirReset-3' => [],
    //         'ComposerInstallProject' => [],
    //         'SearchAndReplace' => [],
    //         // 'ChangeEnvironment' => [],
    //         'UpperCaseFolderNamesForPSR4' => [],
    //         'AddNamespace' => [],
    //         'Upgrade' => [],
    //         'InspectAPIChanges' => [],
    //         'Reorganise' => [],
    //         // 'WebRootUpdate' => []
    //     ]
    // )
    // ->setVariableForTask($taskName, $variableName, $variableValue);
    // ->setStartFrom('RecomposeHomeBrew')
    // ->setEndWith('SearchAndReplace')
    // ->setOnlyRun('SearchAndReplace')
    // ->removeFromListOfTasks('SearchAndReplace')
    // ->addToListOfTasks(
    //      ['MyCustomTasks\\CustomNameSpace\\SearchAndReplace2'],
    //      $beforeOrAfter = 'SearchAndReplace',
    //      $isBefore = false
    // )
    // ->defaultNamespaceForTask('MyCustomisation\\CustomNameSpace\\MyTasks')
    // ->setVerbose(false)
    ->run();
