<?php

require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeSilverstripe\ModuleUpgrader;

$obj = ModuleUpgrader::create()
    ->setRecipe('SS5-SEARCH-REPLACE-ONLY') // see: ModuleUpgraderBaseWithVariables::availableRecipes

    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setLogFolderDirLocation('/var/www/upgrades-logs')

    ->setWebRootName('upgradeto5')

    ->setArrayOfModules(
        [
            1 => [
                //see run.me.index.full.php.EXAMPLE for more details
                'VendorName' => 'awesomeproject',
                'VendorNamespace' => 'AwesomeProject',
                'PackageName' => 'app',
                'PackageNamespace' => 'App',
                'GitLink' => 'git@bitbucket.org:mybitbucket/awesome.org.nz.git',
                'IsModuleUpgrade' => false,
                'NameOfBranchForBaseCode' => 'master or main or ??',
            ]
        ]
    )

    ->setNameOfTempBranch('feature/ss5test')

    ->run();
