<?php

require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeToSilverstripe4\ModuleUpgrader;

$obj = ModuleUpgrader::create()
    ->setRecipe('Ss4ToSs5FindAndReplaceOnly')

    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setLogFolderDirLocation('/var/www/upgrades-logs')

    ->setWebRootName('upgradeto5')

    ->setArrayOfModules(
        [
            1 => [
                //see run.me.index.full.php.EXAMPLE for more details1
                'GitLink' => 'git@bitbucket.org:mybitbucket/awesome.org.nz.git',
                'NameOfBranchForBaseCode' => 'develop',
            ]
        ]
    )

    ->setNameOfTempBranch('feature/ss5test')

    ->run();
