<?php
require_once __DIR__ . '/vendor/autoload.php';

use Sunnysideup\UpgradeToSilverstripe4\ModuleUpgrader;

$obj = ModuleUpgrader::create()

    ->setArrayOfModules(
        [
            //see run.me.index.full.php.EXAMPLE for more details1
            1 => [
              'VendorName' => 'sunnysideup',
              'VendorNamespace' => 'Sunnysideup',
              'PackageName' => 'phone_field',
              'PackageNamespace' => 'PhoneField',
              'GitLink' => 'git@github.com:sunnysideup/silverstripe-phone_field.git'
            ]
        ]
    )
    ->setAboveWebRootDirLocation('/var/www/upgrades')
    ->setLogFolderDirLocation('/var/www/upgrades-logs')

    ->setRecipe('SS4') // see: ModuleUpgraderBaseWithVariables::availableRecipes

    ->run();
